body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #222629;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}
#logo {
    width: 35vw;
    margin-top: 5vh;
}

#slogan{
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #FFF;
    font-family: "Helvetica Neue UltraLight";
    font-size: 2.3vw;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 1.2vw;
}
#dataTable{
    border: none;
}
.DataContainer {
    width: 93vw;
    min-height: 100vh;
    height: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    background: #EAEAEA;
    border-radius: 4rem;
    padding-left: 2vw;
}

.BTN {
    border-radius: 6.125rem;
    border: none;
    background: #86C232;
    width: 13.5vw;
    height: 4.2vw;
    margin-top: 7vh;
    margin-bottom: 3vh;
    color: #ffffff;
    text-align: center;
    font-family: Helvetica;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 2vw;
}


.BTN:hover {
    background: #61892F;
    transition-duration: 0.2s;
}

.exportContainer {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3.5vh;
    margin-right: auto;
    justify-content: space-between;
}
label{
    font-family: "Helvetica";
}
#selectTitle{
    font-family: Helvetica;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
}

.exportContainer label {

    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}


.exportFormat {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vh;
    justify-content: space-between;

}

#ExportBTN {
    border-radius: 6.125rem;
    border: none;
    background: #86C232;
    width: 13.5vw;
    height: 4.2vw;
    margin-top: 3vh;
    margin-bottom: 7vh;
    margin-left: 5vh;
    margin-right: auto;
    color: #ffffff;
    text-align: center;
    font-family: Helvetica;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


#ExportBTN:hover {
    background: #61892F;
    transition-duration: 0.2s;
}
