[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.2"
opencv-python = "*"
pytesseract = "*"
tesseract = "*"

[dev-packages]

[requires]
python_version = "3.12"
