{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvoiceScan+</title>
    <link rel="stylesheet" href="{% static 'fonts/hind_mysuru/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/HomeStyle.css' %}">

</head>
<body>
    <header class="TopContainer">
        <image src = "{% static 'images/Logo.png' %}" id="logo"></image>
        <h3 id="slogan"> Your Invoice Management Superpower </h3>
        <p id="description">Welcome ! Our innovative application is designed to effortlessly digitize and extract data from your invoices and receipts. Using advanced Optical Character Recognition (OCR) technology powered by machine learning, InvoiceScan+ automatically identifies key information from your invoice images. Simply upload your invoice, and within moments, our user-friendly interface allows you to review and edit the extracted data before exporting it in your preferred format, making managing your expenses easier than ever before. Try InvoiceScan+ today and experience the convenience of streamlined invoice processing!</p>
        <div id="scrollButton"></div>
        </header>

    <div class="GuideContainer">
        <h1 id="guideTitle">Guide</h1>
    </div>

    <section class="UploadContainer" id="UploadSection">
        <form action="{% url "home" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="upload-container">
                <h1 id="uploadTitle"> Upload Your Images </h1>
                <div class="uploadButtonsContainer">
                    <label for="file-upload" class="upload-button upload-single"><p id="SelectImage">Select Image </p><image src = "{% static 'images/SingleIcon.png' %}" id="singleIcon"></image></label>
                    <input type="file" id="file-upload" name="files" class="upload-input" accept="image/*">

                    <label for="files-upload" class="upload-button upload-multiple"><p id="SelectMultiple">Select Images</p> <image src = "{% static 'images/MultipleIcon.png' %}" id="multipleIcon"></image></label>
                    <input type="file" id="files-upload" name="files" class="upload-input" accept="image/*" multiple>
                </div>
                <input type="submit" value="Submit" id="submitBTN">
            </div>
        </form>
    </section>
    <footer>
        <h1 id="footerTitle"> Contact Us</h1>
    </footer>
    <script>
        document.getElementById('scrollButton').addEventListener('click', function() {
            document.getElementById('UploadSection').scrollIntoView({
              behavior: 'smooth'
            });
          });          
    </script>
</body>
</html>