{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token }}">

  <title>InvoiceScan+</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap-5.3.3/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/hind_mysuru/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/SelectFormat.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/InvoiceScanLogoMark.png' %}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonlint/1.6.0/jsonlint.min.js"></script> <!-- Include jsonlint -->
</head>
<body>

  <header>
    <image src="{% static 'images/Logo.png' %}" id="logo"></image>
    <h3> Your Invoice Management Superpower </h3>
  </header>

  <div class="DataContainer" id="dataContainer">
    <table id="dataTable">
      {% for result in results %}
      <tr>
        <h3 class="dataTitles image_name">Image Name: {{ result.image_name }}</h3>
        <h3 class="dataTitles doc_type">Document Type: {{ result.document_type }} </h3>
      </tr>
      <tr>
        <pre class="result-text">{{ result.text }}</pre>
        <textarea class="result-textarea form-control" rows="{{ result.text.strip.splitlines|length }}" style="display: none;">{{ result.text }}</textarea>
        <br/>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="ButtonContainer">
    <button class="BTN" id="edit-button">Edit Data</button>
    <button class="BTN" id="save-button">Submit</button>
  </div>
  <div class="exportContainer" style="display: none;">
    <h1 id="selectTitle">Select Export Format :</h1>
    <label for="export-json">
      <input type="checkbox" id="export-json" class="exportFormat form-check-input success-checkbox" value="json"><span class="labelspan"> JSON</span>
    </label>

    <label for="export-csv">
      <input type="checkbox" id="export-csv" class="exportFormat form-check-input success-checkbox" value="csv"><span class="labelspan">  CSV</span>
    </label>
  
    <label for="export-word">
      <input type="checkbox" id="export-word" class="exportFormat form-check-input" value="word"><span class="labelspan">  Word</span>
    </label>
  </div>
  <button id="ExportBTN" class="export-button" style="display: none;">Export</button>
  
</body>
<script src="{% static 'css/bootstrap-5.3.3/js/bootstrap.bundle.min.js' %}"></script>

<script>
  document.getElementById('edit-button').addEventListener('click', editData);
  document.getElementById('save-button').addEventListener('click', submitData);
  document.getElementById('ExportBTN').addEventListener('click', exportData);

  function editData() {
    var textElements = document.querySelectorAll('.result-text');
    var textareaElements = document.querySelectorAll('.result-textarea');
    
    for (var i = 0; i < textElements.length; i++) {
      textElements[i].style.display = 'none';
      textareaElements[i].style.display = 'block';
      textareaElements[i].value = textElements[i].textContent;
    }
    textareaElements[0].focus();
    const exportContainer = document.querySelector('.exportContainer');
    const exportButton = document.getElementById('ExportBTN');
    exportContainer.style.display = 'none';
    exportButton.style.display = 'none';
  }

  function submitData() {
    const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    var editedText = [];
    var results = {{ results|safe }}; // Define results variable here
    var textElements = document.querySelectorAll('.result-text');
    var textareaElements = document.querySelectorAll('.result-textarea');
    
    for (var i = 0; i < textElements.length; i++) {
      const textValue = textareaElements[i].value;
      let errorMessage = "Invalid JSON Format";

      try {
        // Use jsonlint to parse the JSON, catching potential errors
        jsonlint.parse(textValue);
      } catch (error) {
        // Extract detailed error message from jsonlint
        let errorDetails = error.message;

        // Craft a more informative error message
        errorMessage = `Syntax error: ${errorDetails}`;

        alert(errorMessage);
        return; // Exit the loop and prevent further processing
      }

      textElements[i].style.display = 'block';
      textareaElements[i].style.display = 'none';
      textElements[i].textContent = textareaElements[i].value;

      let imageName = results[i].image_name;
      let documentType = results[i].document_type;

      editedText.push({
        image_name: imageName,
        document_type: documentType,
        text: textElements[i].textContent
      });
    }

    console.log(editedText);

    fetch('/invoiceScanApp/save_edited_text/', {
      method: 'POST',
      body: JSON.stringify(editedText),
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.status === 'success') {
        console.log('Edited text saved successfully!');
        
        var textElements = document.querySelectorAll('.result-text');
        var textareaElements = document.querySelectorAll('.result-textarea');
        for (var i = 0; i < textElements.length; i++) {
          textElements[i].style.display = 'block';
          textElements[i].textContent = textareaElements[i].value;
          textareaElements[i].style.display = 'none';
        }
        
        const exportContainer = document.querySelector('.exportContainer');
        const exportButton = document.getElementById('ExportBTN');
        exportContainer.style.display = 'block';
        exportButton.style.display = 'block';
      } else {
        console.error('Error saving edited text:', data);
      }
    })
    .catch(error => {
      console.error('Error sending data:', error);
    });
  }

  function exportData() {
    const exportJSON = document.getElementById('export-json').checked;
    const exportCSV = document.getElementById('export-csv').checked;
    const exportWORD = document.getElementById('export-word').checked;

    if (!exportJSON && !exportCSV && !exportWORD) {
      alert('Please select at least one format to export.');
      return;
    }

    const selectedFormats = [];
    if (exportJSON) {
      selectedFormats.push('json');
    }
    if (exportCSV) {
      selectedFormats.push('csv');
    }
    if (exportWORD) {
      selectedFormats.push('word');
    }
    
    const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    fetch('/invoiceScanApp/export/', {
      method: 'POST',
      body: JSON.stringify({ formats: selectedFormats }),
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      }
    })
    .then(response => response.blob())
    .then(blob => {
      const filename = 'exported_data.zip';
      if (blob.size > 0) {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = filename;
        document.body.appendChild(a);
        a.click();
        a.remove();
      } else {
        console.error('Error: Empty response received for export.');
      }
    })
    .catch(error => {
      console.error('Error exporting data:', error);
    });

    const exportContainer = document.querySelector('.exportContainer');
    const exportButton = document.getElementById('ExportBTN');
    exportContainer.style.display = 'none';
    exportButton.style.display = 'none';
  }
</script>
</html>
