{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InvoiceScan+</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap-5.3.3/css/bootstrap.min.css' %}">


  <link rel="stylesheet" href="{% static 'fonts/hind_mysuru/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/SelectFormat.css' %}">

</head>
<body>

  <header>
    <image src="{% static 'images/Logo.png' %}" id="logo"></image>
    <h3 id="slogan"> Your Invoice Management Superpower </h3>
  </header>

  <div class="DataContainer" id="dataContainer">
    <table id="dataTable">
      {% for result in results %}
        <tr>
          <pre>{{ result }}</pre>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="ButtonContainer">
    <button class="BTN" id="edit-button">Edit Data</button>
    <button class="BTN" id="save-button">Submit</button>
  </div>

  <div class="exportContainer">
    <h1 id="selectTitle">Select Export Format :</h1>
                                                                                    
      <label for="export-pdf">
        <input type="checkbox" id="export-pdf" class="exportFormat form-check-input success-checkbox" value="pdf"><span class="labelspan"> PDF</span>
      </label>

      <label for="export-csv">
        <input type="checkbox" id="export-csv" class="exportFormat form-check-input success-checkbox" value="csv"><span class="labelspan">  CSV</span>
      </label>
      
      <label for="export-word">
        <input type="checkbox" id="export-word" class="exportFormat form-check-input" value="word"><span class="labelspan">  Word</span>
      </label>
    </div>
    
    <button id="ExportBTN" class="export-button">Export</button>
  
  </div>

  <script src="{% static 'css/bootstrap-5.3.3/js/bootstrap.bundle.min.js' %}"></script>

  <script>

  </script>
</body>
</html>
